<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/dependencies/sails.io.js"></script>
    <meta charset="UTF-8">
    <title>widget test</title>
</head>
<body>
<div class="container">
    <h2>Control Test</h2>
    <control-component></control-component>
</div>

</body>
</html>