<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/dependencies/sails.io.js"></script>
    <meta charset="UTF-8">
    <title>widget test</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>TV Widget Test</h2>
            <widget-component></widget-component>
        </div>

    </div>

</div>

</body>
</html>