<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fullmodule test</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Full Module Test</h2>
            <uib-tabset>
                <uib-tab heading="Directives">
                    <directives-component></directives-component>
                </uib-tab>
                <uib-tab heading="Adverts">
                    <ogadverts-component></ogadverts-component>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>

</div>

</body>
</html>