<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ogadverts test</title>
</head>
<body>
<h1>OG Adverts Service Test</h1>
<ogadverts-component></ogadverts-component>
</body>
</html>