.ogappheader {
  display: table;
  font-family: POPBLACK, Arial, Courier;
  font-size: 2em;
  font-weight: bold;
  height: 60px;
  margin: 0 0 10px 0;
}

.ogappheadertext {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.ogappheaderside {
  height: 60px;
  width: 20px;
  background-color: #52B85E;
  float: left;
  margin-right: 10px;
}