.ogappheader {
  display: table;
  font-family: POPBLACK, Arial, Courier;
  font-size: 3vh;
  font-weight: bold;
  //height: 10vh;
  margin: 0 0 1vw 0;
}

.ogappheader-2line {
  font-size: 2vh;
}

.ogappheadertext {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.ogappheaderside {
  height: 60px;
  width: 20px;
  background-color: #52B85E;
  float: left;
  margin-right: 10px;
}